@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: antiquewhite; */
}
body{
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
}


:root{
    --maincolor:rgb(46, 46, 46);
    --textcolor:rgb(255, 145, 1) ;
}
#navbar
{
    /* position: fixed; */
    height: 70px;
    width: 100%;
    display: flex;
    padding-top: 0px;
    margin-top: 0;
    position: fixed;
    border-radius: 5px;
    background-color: rgba(46, 46, 46, 0.544);
    backdrop-filter: blur(10px);        /* blur behind the navbar */
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;    
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.logo{
    height: 100%;
    width: 20%;
    background-color: var(--textcolor) ;
    /* -webkit-text-stroke: 0.5px rgb(0, 0, 0); */
    display: flex;
    font-size: 32px;
    /* color: white; */
    color: transparent;
    background-clip: text;
    font-weight: 700; 
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navlists{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    /* justify-content: center; */
    align-items: center;

    list-style: none;
}
.navlists>li>a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* justify-content: center;
    align-items: center; */

}
.btn1{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn1>button{
    /* text-decoration: none; */
    padding: 12px 30px;
    border-radius: 8px;
    background-color: var(--textcolor);
    border: none;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navlists>li>a:hover{
    text-decoration: none;
    color: rgb(236, 213, 165);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* justify-content: center;
    align-items: center; */
}
.btn1>button:hover{
     padding: 12px 30px;
    border-radius: 8px;
    background-color: rgb(191, 183, 172);
    border: none;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Home page */

#home{
    height: calc(100vh);
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    /* border: 2px solid black; */

}
#home>.details{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left:90px;
    gap: 22px;
    /* background-color: antiquewhite; */
}
.details>:first-child{
    background-color:var(--maincolor) ;
    border-radius: 6px;
    color: white;
    padding: 4px 22px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
}

.details>h1{
    font-size: 60px;
}
.details>p{
    font-size: 17px;
    text-align: justify;
}
.btn2>button{
    padding: 10px 20px;
    background-color:var(--textcolor); ;
    border-radius: 8px;
    border:2px var(--maincolor);
    cursor: pointer;
}
.btn2>button:hover{
    padding: 10px 20px;
    background-color:transparent; 
    border-radius: 8px;
    transition: ease-in-out 0.2s;
    /* cursor: pointer; */
}
#icons{
    font-size: 30px;
}
#icons>i{
    margin: 8px;
}
#home>.imgsect{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgsect>img{
    height: 400px;
    /* border: 2px solid black; */
    border-radius: 150px;
    /* background-image: linear-gradient(to right, #ff0000, #0000ff); */
    /* background-color: rgb(46, 46, 46); */
    /* width: ; */
}
.career
{
    color: rgb(215, 5, 5);
}

/*---------------- projects */

#myprj{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    /* border: 2px; */
    height: 35px;
    width:15%;
    margin-top: 6%;
    margin-left: 40%;
    margin-bottom: 3%;
    border-radius: 8px;
    background-color: var(--maincolor);
    color: white;
}
#projects{
    height: calc(100vh);
    width: 100%;
    display: flex;
    /* border: 2px solid black; */
    /* align-items: center; */
    /* background-color: antiquewhite; */
}
.prj>.p1{
    height: 85%;
    width: 80%;
    background-color: var(--maincolor);
    border: 2px solid black;
    border-radius: 8px;
    margin-left: 80px;
    margin-top: 3%;
    cursor: pointer;
}
.prj>.p1>#t1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight:600 ;
    font-family:'Inter', sans-serif ;
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
    /* height: ; */
    border-radius: 8px;
    background-color: rgb(207, 103, 11);
}
#std{
    margin: 5%;
    
    justify-content: center;
    align-items: center;
    /* display: flex; */
    text-align: justify;
    color:white;
}
.prj{
    display: flex;
    height: 100%;
    width: 100%;   

}
.p1:hover{
    /* padding: 30px 90px; */

    background: linear-gradient(180deg, #4a4848, #a54103);
    transform: scale(1.0); /* optional: small zoom effect */
}

.prj2{
    display: flex;
    height: 100%;
    cursor: pointer;
    width: 100%;   

}
.p2:hover{
    

    background: linear-gradient(180deg, #4a4848, #a54103);
    transform: scale(1.0); /* optional: small zoom effect */
}

/* ------------------- */
.p2{
    height: 85%;
    width: 80%;
    background-color: var(--maincolor);
    border: 2px solid black;
    border-radius: 8px;
    margin-left: 80px;
    margin-top: 3%;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
#t2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight:600 ;
    font-family:'Inter', sans-serif ;
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
    /* height: ; */
    border-radius: 8px;
    background-color: rgb(207, 103, 11);
}
#event{
    margin: 5%;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    text-align: justify;
    color:white;
}

/* --------About Section Starts Here */

#about{
    height: calc(100vh);
    width: 100%;
    
    /* display: flex; */
}
#aboutme{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    border: 2px;
    margin: 8% 44%;
    height: 35px;
    width: 10%;
    border-radius: 8px;
    background-color: var(--maincolor);
    color: white;
}
.college
{
    background-color: var(--maincolor);
    height: 30%;
    width: 50%;
    /* display: flex; */
    margin:2% 25% ;
    border-radius: 10px;
}
.college>#degree{
    display: block;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    /* padding: 2px ; replaces margin-top for better control */
    text-align: center;
    margin: 3% 25%;
    border-radius: 8px;
    background-color: rgb(215, 103, 4);
}

.clgname{
    color: white;
    text-decoration: none;
    cursor: pointer;
    /* display: inherit; */
    margin-left: 10%;
    justify-content: left;
    text-transform: uppercase;
    align-items: left;
    text-align: justify;
    list-style: disc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;

}
/* School */

.ten
{
    background-color: var(--maincolor);
    height: 30%;
    width: 50%;
    margin:2% 25% ;
    border-radius: 10px;
}
#sslc{
    display: flex;
    justify-content: center;
    /* align-items:start ; */
    font-size: 18px;
    font-weight:600 ;
    font-family:'Inter', sans-serif ;
    margin:2% 45%;
    /* height: ; */
    border-radius: 8px;
    background-color: rgb(215, 103, 4);
}
.sclname{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    /* display: inherit; */
    margin-left: 10%;
    /* margin-top: 2%; */
    justify-content: left;
    align-items: left;
    text-align: justify;
    list-style: disc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;

}
.twelve
{
    background-color: var(--maincolor);
    height: 30%;
    width: 50%;
    margin:2% 25% ;
    border-radius: 10px;
}
#hsc{
    display: flex;
    justify-content: center;
    /* align-items:start ; */
    font-size: 18px;
    font-weight:600 ;
    font-family:'Inter', sans-serif ;
    margin:2% 45%;
    /* height: ; */
    border-radius: 8px;
    background-color: rgb(215, 103, 4);
}
.sclname{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    /* display: inherit; */
    margin-left: 10%;
    /* margin-top: 2%; */
    justify-content: left;
    align-items: left;
    text-align: justify;
    list-style: disc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;

}